{% extends "base.html" %}

{% block title %}
Банковский вклад
{% endblock %}

{% block content %}

<h3 class="heading">Банковский вклад</h3>

<p class="text-justify paragraph">
    <strong> Банковский вклад - </strong>это деньги, переданные на хранение
    кредитному учреждению (банку), чтобы в конце срока действия вклада получить доход в виде
    процентов.
</p>

<p class="text-justify paragraph">
    Видов банковских вкладов много, они различаются по условиям управления средствами, ставкам,
    срокам.
</p>

<ul class="list-unstyled text-justify">
    <li>Преимущества банковских вкладов:
        <ul>
            <li>простота и понятность инвестиционного инструмента</li>
            <li>Банковские вклады застрахованы государством. Гарантом возврата денежных средств в
                случае
                банкротства или отзыва лицензии у банка выступает агентство по страхованию вкладов
                (АСВ). Оно
                гарантирует возврат суммы не более 1,4 миллиона рублей вложенных в один банк.
            </li>
            <li>Заранее известный доход. В банковских вкладах вы точно знаете, что через заранее
                известный
                период времени, вы получите фиксированную прибыль.
            </li>
            <li>Открытие банковского вклада, тоже ничего сложного не представляет. Достаточно
                выбрать банк и
                приехать туда с паспортом. Ну, конечно же, не забыв взять с собой деньги.
            </li>
        </ul>
    </li>
</ul>


<p class="text-justify paragraph">
    Из всего вышесказанного можно сделать выводы, что банковские вклады являются наименее
    рискованным (или самым надежным) способом инвестирования. Однако, из теории инвестирования,
    высокая надежность вложений обратно пропорционально доходности. А она, увы и ах, у банковских
    вкладов находится не на высоком уровне. Хотя в свете последних событий, нестабильности и кризисе
    финансового мира, возросшей в стране инфляции банковские ставки по вкладам неуклонно растут и
    это позволяет значительно увеличить доходность от своих вложений. Так в конце 2014 - начале 2015
    гг. можно было открыть долгосрочные вклады (до 3 лет) с ежегодной доходностью в 18-20%.
</p>

<hr/>

<h4 class="text-justify">
    Как же выбрать выгодный банковский вклад?<br>
</h4>

<p class="text-justify">
    <strong>1. Надёжность.</strong><br>
    Надежность вклада полностью связана с надежностью банка.<br>
    Вклады в банках гарантированы государственным Агентством по страхованию вкладов (АСВ).<br>
    Если вам предлагают открыть ВКЛАД в организации, не являющейся банком, то вас пытаются обмануть.
    Если вам предлагают отдать деньги в заем, убеждая, что это «все равно как вклад», — вас пытаются
    обмануть.<br>
    Степень его надежности можно оценить по кредитному рейтингу на сайте Банки. ру в разделе
    «Банки».<br>
</p>
<p class="text-justify">
    <strong>2. Ищите высокую ставку.</strong><br>
    Именно поэтому одним из главных условий при выборе вклада является процентная ставка. Логика
    проста: чем выше процент – тем больше доход.
</p>
<p class="text-justify">
    <strong>3. Определитесь с размером вклада. </strong><br>
    Так как доходность вклада зависит от его размера. Часто банки предлагают высокий процент, если
    клиент вложит большую сумму денег. Чем меньше вклад, тем ниже по нему процент.
</p>
<p class="text-justify">
    <strong>4. Выберете валюту.</strong><br>
    Самыми доходными являются рублёвые вклады.
</p>
<p class="text-justify">
    <strong>5. Срок вклада. </strong><br>
    Вкладывайте на долгий срок. Чем больше время хранения денег, тем выше процент и доходность.
    Банки принимают средства на срок от 1 месяца до 5 лет. Не перепутайте срочный вклад с
    бессрочным, который банки называют «до востребования». По нему вы получите самый минимальный
    доход. Конечно, и срочный вклад клиент может забрать в любой момент, однако тогда выгода будет
    сведена к нулю – банк начислит процент, близкий к бессрочному вкладу.
</p>
<ul class="list-unstyled text-justify">
    <li><strong>6. Обязательно обращайте внимание на условия вклада.</strong>
        <ol>
            <li>Капитализация. Выбирайте вклады с капитализацией т.к. итоговая прибыль намного
                выше, чем по стандартным вкладам. Чем чаще начисляются проценты, тем выше и
                суммарный доход. Лучше выбирать вклад с ежемесячной капитализацией.
            </li>
            <li>Возможность пополнения и частичного снятия. Для долгосрочных депозитов (от 1
                года) стоит предусмотреть свободное обналичиваение (или перевод) средств и их
                восполнение без расторжения или перезаключения договора. Это поможет вам сохранить
                доход, а в некоторых случаях и преумножить сбережения, докладывая некоторую сумму,
                например, каждый месяц – после каждой зарплаты.
            </li>
            <li>Некоторые банки предлагают повышенные проценты при покупке страховых продуктов.
                Внимательно проверьте условия страхования, а также тот факт, что затраты на покупку
                страховки будут меньше, чем выгода от повышенного процента.
            </li>
            <li>Вклад с выплатой дохода вначале более выгоден, чем аналогичный вклад с выплатой в
                конце, а вклад с ежемесячной выплатой процентов выгоднее, чем вклад с ежеквартальной
                выплатой.
            </li>
        </ol>
    </li>
</ul>


<p class="text-justify paragraph">
</p>

<p class="text-justify paragraph">
</p>

{% endblock %}
