{% extends "base.html" %}

{% block title %}
Главная
{% endblock %}

{% block content %}

<h3 class="heading">Главная</h3>

<p class="text-justify ">
    На этом сайте Вы можете узнать правила, которые помогут Вам выбрать наиболее выгодный способ для
    вклада или инвестиции.
</p>

<div style="padding: 30px;">
    <img src="https://www.bankmandiri.co.id/documents/20143/41486428/ag-pengaduan-1.png/bd79d873-eb8c-991d-ac9e-e4d68b42ca27?t=1575968786909"
         class="img-fluid" alt="Responsive image">
</div>

<h5>ЗАЧЕМ ИНВЕСТИРОВАТЬ?</h5>

<ul class="list-inline text-justify">
    <li class="list-inline-item">
        <strong>1. Получать пассивный доход</strong><br>
        Если регулярно откладывать и инвестировать деньги, можно создать капитал, который будет
        приносить пассивный доход в виде купонов или дивидендов.
    </li>
    <li class="list-inline-item">
        <strong>2. Накопить на крупную покупку</strong><br>
        Ценные бумаги могут приносить доход выше вкладов, поэтому вложения в них — один из способов
        накопить на жильё, обучение ребёнка или другую цель.
    </li>
    <li class="list-inline-item">
        <strong>3. Обеспечить комфортную жизнь на пенсии</strong>
        Чтобы в пожилом возрасте не менять привычный образ жизни, позаботьтесь о своём будущем уже
        сегодня с помощью долгосрочных инвестиций.
    </li>
</ul>


{% endblock %}
