{% extends "base.html" %}

{% block title %}
Акции
{% endblock %}

{% block content %}

<h3 class="heading">Акции</h3>

<p class="text-justify">
    <strong>Акция - </strong>это ценная бумага, которая позволяет получить часть прибыли компании
    или долю при разделе ее имущества.
</p>

<ul class="list-unstyled text-justify">
    <li><h6><strong>Преимущества инвестирования в акции:</strong></h6>
        <ol>
            <li>Порог входа небольшой — около 10 тыс. руб., акции некоторых компаний стоят менее
                1000 рублей .
            </li>
            <li>При торговле (трейдинге) потолок дохода почти не ограничен. Такой способ вложения
                денег требует знаний. Даже если обращаться к посреднику, нужно понимать принцип
                биржевой торговли, разбираться в диверсификации портфеля.
            </li>
            <li>Позволяет снизить риск за счёт пассивного дохода на дивидендах или использовать
                высокорисковые методы торговли ценными бумагами с возможностью повысить прибыль.
            </li>
            <li>Инвестировать можно онлайн, при доступе в интернет из любой точки мира.
            </li>
            <li>
                Перспектива долевого участия в бизнесе при наличии крупного пакета акций.
            </li>
        </ol>
    </li>
</ul>

<hr/>

<h4>Как правильно выбрать акции для инвестирования?</h4>
<p class="text-justify">
    <strong>1. Ликвидность, </strong>или возможность быстро продать акцию по рыночной цене. Лучше
    покупать те акции, которые пользуются большим спросом. Чтобы определить ликвидность, посмотрите
    итоги торгов на Московской или Санкт-Петербургской бирже. Количество совершённых сделок — не
    лучший показатель ликвидности. Стоит смотреть на торговый оборот/объём.
</p>
<p class="text-justify">
    <strong>2. Динамика цены. </strong>Перед покупкой акции проследите, как менялась со временем её
    рыночная цена.<br>
    Тем, кто только начинает торговать на рынке ценных бумаг, лучше вкладывать в так называемые
    голубые фишки — акции самых крупных компаний со стабильными показателями доходности.
</p>
<p class="text-justify">
    <strong>3. Дивиденды. </strong>Стоит обратить внимание на размер дивидендов и стабильность их
    выплат.
</p>
<p class="text-justify">
    <strong>4. Финансовые показатели компании. </strong>Перед покупкой акций важно понять, насколько
    прибыльна и устойчива компания, — для этого придется изучить её финансовые показатели в отчётах
    аналитиков. Самое основное, на что нужно обратить внимание, — это выручка, чистая прибыль,
    EBITDA, капитал.
</p>

<p class="text-justify">
    <strong>5. Чтобы купить акции, обратитесь к биржевому брокеру.</strong><br>
    Вы не можете приобрести акции на бирже самостоятельно — для этого Вам нужна помощь посредника,
    или брокера. Биржевой брокер заведёт Вам специальный счёт для операций с ценными бумагами,
    проведёт желаемые сделки и заплатит необходимые налоги. За эти услуги Вы должны заплатить
    комиссию.
</p>

{% endblock %}
